hr.style3{
  border: 1px solid gray;
  width:65rem;
}

.header{
     margin-top: 2%;
}


.header  h4{
    position: relative;
    top: 12px;
}

.tabs{
   position: relative;
   top: 6rem;
   right: 5rem;

}
